/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: 18px "Helvetica Neue";
    font-style: normal;
    font-weight: 200

}
.text {
    border: 200px solid;
   text-align: justify;
    text-decoration: line-through
}
