/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.solitary {
    width: ;
}
.velvet {
    width: ;
}
.opposition {
    width: ;
}
.bitter {
    width: ;
}

.solitary {
    width: ;
    padding-left: 10%;
}
.velvet {
    width: ;
    padding-left: 20%;
}
.solitary,
.velvet {
  display: inline-block;
  vertical-align: top;
}

.velvet {
    padding-left: 30%;
}
.opposition {
    display:inline-block;
    padding-left: 50%;
}
.bitter {
    padding-left: 15%
}


/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: 11px "Baskerville";
    font-style: italic;
    font-weight: 300;
}
.opposition {
    font-weight: 500;
    font-style: normal;
    font: 14px "Baskerville";
}