/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



 
    

.one {
    margin: 10px;
    width: 33px;
    text-align: justify;
    font: 300 500px "Arial";
    text-transform: uppercase;
    padding: 10px;
    float: left;
    
    
}
.two {
    float: left;
    width: 600px;
    margin: 80px;
    padding-left: 10%;
    padding-top: 4%;
    text-align: justify;
    font: 300 14px "Arial";
    
    
}