/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: 20px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
}
.solitary {
    font: 6px "Atlas Grotesk";
    text-transform: lowercase;
    text-align: center;
    width: 50%
    
}
.save {
    width: 80%;
    text-align: center;
    font: 8px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
}
.andim {
    font: 10px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 60%;
    text-align: right;
}
.velvet {
    font: 12px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 85%;
    text-align: right;
}
.thisrigid {
    font: 14px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 100%;
    text-align: right;
}
.opposition {
    font: 16px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 100%;
    text-align: right;
}
.toomuch {
    font: 19px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 100%;
    text-align: right;
}
.exiguously {
    font: 20px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 100%;
    text-align: right;
}
.bitter {
    font: 22px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 90%;
    text-align: right;
}
.makesa {
    font: 24px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 70%;
    text-align: right;
}
.irresistible {
    font: 26px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 40%;
    text-align: right;
}
.byhis {
    font: 30px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 50%;
    text-align: left;
}
.asaflash {
    font: 40px "Atlas Grotesk";
    font-weight: normal;
    text-transform: lowercase;
    width: 100%;
    text-align: left;
    border-bottom: 75px double  
}
